<ng-container>
  <app-header></app-header>

  <mat-sidenav-container class="mt-nav-container">
    <mat-sidenav #sidenav mode="side" opened class="MTsidenav"
                 [fixedInViewport]="true" [fixedTopGap]="65"
                 [fixedBottomGap]="0">
                  <mat-nav-list>
                      <mat-list-item [routerLink]="['/dashboard']"> Dashboard <mat-icon>dashboard</mat-icon> </mat-list-item>
                      <mat-divider></mat-divider>

                      <mat-accordion>
                          <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      Manage Syllabus
                                  </mat-panel-title>
                                  <mat-icon>library_books</mat-icon>
                              </mat-expansion-panel-header>
                              <mat-list-item >Add Syllabus <mat-icon>add</mat-icon> </mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item >View Syllabus <mat-icon>list</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                          </mat-expansion-panel>
                      </mat-accordion>
                      <mat-divider></mat-divider>

                      <mat-accordion>
                          <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      Exam Schedule
                                  </mat-panel-title>
                                  <mat-icon>schedule</mat-icon>
                              </mat-expansion-panel-header>
                              <mat-list-item >Add Exam Schedule <mat-icon>add</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item >View Exam Schedule <mat-icon>list</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                          </mat-expansion-panel>
                      </mat-accordion>
                      <mat-divider></mat-divider>

                      <mat-accordion>
                          <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      Manage Attendance
                                  </mat-panel-title>
                                  <mat-icon>list_alt</mat-icon>
                              </mat-expansion-panel-header>
                              <mat-list-item>Add Attendance <mat-icon>add</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item>View Attendance <mat-icon>list</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                          </mat-expansion-panel>
                      </mat-accordion>
                      <mat-divider></mat-divider>

                      <mat-accordion>
                          <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      Manage Result
                                  </mat-panel-title>
                                  <mat-icon>playlist_add_check</mat-icon>
                              </mat-expansion-panel-header>
                              <mat-list-item>Add Result <mat-icon>add</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item>View Result <mat-icon>list</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                          </mat-expansion-panel>
                      </mat-accordion>
                      <mat-divider></mat-divider>

                      <mat-accordion>
                          <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      Parent Interviews
                                  </mat-panel-title>
                                  <mat-icon>person_pin</mat-icon>
                              </mat-expansion-panel-header>
                              <mat-list-item>Schedule Interview <mat-icon>add</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item>View Scheduled Interview <mat-icon>list</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                          </mat-expansion-panel>
                      </mat-accordion>
                      <mat-divider></mat-divider>

                      <mat-list-item [routerLink]="['/dashboard']">All Admissions <mat-icon>assignment_ind</mat-icon></mat-list-item>
                      <mat-divider></mat-divider>

                      <mat-accordion>
                          <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      All Reports
                                  </mat-panel-title>
                                  <mat-icon>view_list</mat-icon>
                              </mat-expansion-panel-header>
                              <mat-list-item [routerLink]="['product/service']">Attendance Report <mat-icon>list_alt</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item [routerLink]="['product/section']">Attendance Defaulter Report <mat-icon>report</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item [routerLink]="['product/section']">Student Fee wise Report <mat-icon>money</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item [routerLink]="['product/section']">Fee Defaulter Report <mat-icon>report</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                          </mat-expansion-panel>
                      </mat-accordion>
                      <mat-divider></mat-divider>

                      <mat-accordion>
                          <mat-expansion-panel hideToggle>
                              <mat-expansion-panel-header>
                                  <mat-panel-title>
                                      Staff Management
                                  </mat-panel-title>
                                  <mat-icon>assessment</mat-icon>
                              </mat-expansion-panel-header>
                              <mat-list-item [routerLink]="['product/service']">Add Staff Leave <mat-icon>add</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                              <mat-list-item [routerLink]="['product/section']">View Staff Leave <mat-icon>list</mat-icon></mat-list-item>
                              <mat-divider></mat-divider>
                          </mat-expansion-panel>
                      </mat-accordion>
                      <mat-divider></mat-divider>
              
                   </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!--<button type="button" mat-button (click)="sidenav.toggle()">
        Toggle sidenav
      </button>-->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</ng-container>