<section class="dashboard-counter-section">

  <mat-grid-list cols="4" rowHeight="100px">

      <mat-grid-tile>
        <div class="box-back" style="background-color: #ddd;">
          <mat-card>
              <mat-card-header>
                <mat-card-title>Clients</mat-card-title>
                <mat-card-subtitle>Total Listed Clients</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                192
              </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
          <div class="box-back" style="background-color: #ddd;">
          <mat-card>
              <mat-card-header>
                <mat-card-title>Packages</mat-card-title>
                <mat-card-subtitle>Total Listed Packages</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                410
              </mat-card-content>
          </mat-card>
          </div>
      </mat-grid-tile>

      <mat-grid-tile>
          <div class="box-back" style="background-color: #ddd;">
          <mat-card>
              <mat-card-header>
                <mat-card-title>Websites</mat-card-title>
                <mat-card-subtitle>Total Listed Websites</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                700
              </mat-card-content>
          </mat-card>
          </div>
      </mat-grid-tile>

      <mat-grid-tile>
          <div class="box-back" style="background-color: #ddd;">
          <mat-card>
              <mat-card-header>
                <mat-card-title>Lorem Ipsum</mat-card-title>
                <mat-card-subtitle>Lorem Ipsum</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                2000
              </mat-card-content>
          </mat-card>
          </div>
      </mat-grid-tile>

    </mat-grid-list>
  
  </section>
